{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Products{% endblock %}</h2>
{% endblock %}

{% block content %}
    {% for p in products %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ p['SKU'] }}</h1>
                    <div class="about">{{ p['name'] }}</div>
                </div>
                <a class="action"> Edit</a>
            </header>
            <p class="body">{{ p['price'] }} euros </p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}