{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Products{% endblock %}</h2>
<div class="main">
    <button onclick="window.location.href='{{ url_for('homepage') }}'" class="top-left"> Back</button>
    <button onclick="window.location.href='{{ url_for('product_register') }}'" class="top-right"> Register Product</button>
</div>
{% endblock %}

{% block content %}
    {% for product in products %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ product['name'] }}</h1>
                    <div class="about">Product SKU: {{ product['sku'] }}</div>
                </div>
                <a class="action" href="{{ url_for('product_update', product_sku=product['sku']) }}"> Edit</a>
            </header>
            <p class="body">Price: {{ product['price'] }} € </p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}