{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Product {{ product['name'] }} | Edit{% endblock %}</h1>
<div class="main">
    <button onclick="window.location.href='{{ url_for('product_index') }}'" class="top-left"> Back</button>
</div>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="sku"> Stock Keeping Unit (SKU)</label>
    <input name="sku" id="sku" type="number" value="{{ product['sku'] }}" disabled>
    <label for="name"> Name</label>
    <input name="name" id="name" type="text" value="{{ product['name'] }}" disabled>
    <label for="desciption"> Description</label>
    <input name="description" id="description" type="text" value="{{ request.form['description'] or product['description'] }}" enabled>
    <label for="price"> Price</label>
    <input name="price" id="price" type="number" min="0.00" step="0.01" placeholder="0.00" value="{{ request.form['price'] or product['price'] }}" enabled>
    <label for="ean"> EAN</label>
    <input name="ean" id="ean" type="numeric" value="{{ product['ean'] }}" disabled>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('product_delete', product_sku=product['sku'])}}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
