{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Customers{% endblock %}</h2>
{% endblock %}

{% block content %}
    {% for customer in customers %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ customer['cust_no'] }}</h1>
                    <div class="about">Name: {{ customer['name'] }}</div>
                </div>
                <a class="action"> Edit</a>
            </header>
            <p class="body">Email: {{ customer['email'] }}</p>
            
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}