{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Customer | Register{% endblock %}</h2>
  <div class="main">
    <button onclick="window.location.href='{{ url_for('customer_index') }}'" class="top-left"> Back</button>
</div>  
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" type="text" value="" required>
    <label for="email">Email</label>
    <input name="email" id="email" type="text" value="" required>
    <label for="phone">Phone</label>
    <input name="phone" id="phone" type="numeric" max="999999999" value="" enabled>
    <label for="address">Address</label>
    <input name="address" id="address" type="text" enabled>
    <input type="submit" value="Save">
  </form>
{% endblock %}
