{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Main Menu{% endblock %}</h2>
{% endblock %}

{% block content %}
<header>
    <div class="main-menu">
        <a class="button" href="{{ url_for('product_index') }}">Products</a>
        <a class="button" href="{{ url_for('customer_index') }}">Customers</a>
        <a class="button" href="{{ url_for('orders_index') }}">Orders</a>
        <a class="button" href="{{ url_for('supplier_index') }}">Suppliers</a>
    </div>
</header>
{% endblock %}
