{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Suppliers{% endblock %}</h2>
<div class="main">
    <button onclick="history.back()" class="top-left"> Back</button>
    <button onclick="window.location.href='{{ url_for('supplier_register') }}';" class="top-right"> Register Supplier</button>
</div>  
{% endblock %}

{% block content %}
    {% for supplier in suppliers %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ supplier['name'] }}</h1>
                    <div class="about">TIN: {{ supplier['tin'] }}</div>
                </div>
                <a class="action" href="{{ url_for('supplier_info', tin=supplier['tin']) }}"> Edit</a>
            </header>
            <p class="body">Product: {{ supplier['sku'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}