{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Suppliers{% endblock %}</h2>
{% endblock %}

{% block content %}
    {% for supplier in suppliers %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ supplier['tin'] }}</h1>
                    <div class="about">Name: {{ supplier['name'] }}</div>
                </div>
                <a class="action"> Edit</a>
            </header>
            <p class="body">Product: {{ supplier['sku'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}