{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Add Product{% endblock %}</h2>
  <div class="main">
    <button onclick="window.location.href='{{ url_for('order_info', order_no=order_no) }}'" class="top-left"> Back</button>
</div>  
{% endblock %}

{% block content %}
  <form method="post">
    <label for="sku">SKU</label>
    <input name="sku" id="sku" type="text" value="" required>
    <label for="sku"> Quantity</label>
    <input name="qty" id="qty" type="numeric" min="0" value="" required>
    <input class="save" type="submit" value="Save">
  </form>
{% endblock %}
