{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Orders{% endblock %}</h2>
{% endblock %}

{% block content %}
    {% for o in orders %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ o['order_no'] }}</h1>
                    <div class="about">in {{ c['cust_no'] }}</div>
                </div>
                <a class="action"> Edit</a>
            </header>
            <p class="body">Date: {{ c['date'] }}</p>
            
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}