{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Pay Order{% endblock %}</h2>
<div class="main">
    <button onclick="window.location.href='{{ url_for('order_info', order_no = order['order_no']) }}'" class="top-right"> Pay Order</button>

</div>  
{% endblock %}

{% block content %}
<form method="post">  
    <label for="Total Products"> Quantity</label>
    <input style="margin-right:50px" name="name" id="name" type="text" value="{{ order_totals['total_products'] }}" disabled>
    <label for="Total Products"> Price</label>
    <input style="margin-right:50px" name="name" id="name" type="numeric" value="{{ order_totals['total_price'] }}" disabled>
</form> 
<hr>
<form method="post">  
    <label for="Total Products"> Payment method (MBWay, Multibanco, Paypal, Visa)</label>
    <input style="margin-right:50px" name="name" id="name" type="text" value="{{ request.form['payment_method'] }}" required>
    <label for="Total Products"> Customer Number</label>
    <input style="margin-right:50px" name="name" id="name" type="numeric" value="{{ request.form['cust_no_pay'] }}"required>
</form> 
<div class="main">
    <button onclick="history.back()" class="bottom-center"> Pay Now</button>

</div> 
{% endblock %}